<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
        "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties>
        <property name="dialect" value="mysql" />
    </properties>

    <settings>
        <setting name="logImpl" value="LOG4J" />
    </settings>

    <!--<settings>
        <setting name= "logImpl" value= "SLF4J" />
    </settings>-->
    <typeAliases>
        <typeAlias alias="User" type="com.zhangjikai.bean.User" />
        <package name="com.zhangjikai.bean"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/iwrite/mapper/UserMapper.xml" />
    </mappers>




</configuration>