<div class="row">
    <div class="col-lg-12">
        <div class="row upload">

            <h3>单文件上传</h3>

            <form name="form">
                <div ngf-drop ngf-select ng-model="file" class="drop-box" name="file">{{file.name || "Select File"}}
                </div>
                <button class="submit-btn" ng-click="submitSingle()">submit</button>
            </form>
        </div>


        <div class="row upload col-lg-12">
            <div class="row">
                <h3>多文件上传</h3>

                <form name="form">
                    <div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-multiple="true" name="file">
                        {{"Select Files"}}
                    </div>
                    <button class="submit-btn" ng-click="submitMultiple()">submit</button>
                </form>
            </div>
            <div class=" row selected-file">
                <div class="title">已选文件: </div>
                <div class="list">
                    <ul>
                        <li ng-repeat="f in files" >
                            {{f.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>